Repository WildCodeSchool/2022-09-JS-RMT-JSCREW-projet2-team2, pull requests merged in 2022-11, with the labels that each got.

#8 Add data
  backend/src/data/pokemons.js
  backend/src/router.js
Labels: Reviewer One OK, Review Done

#11 ajout du composant quantité + dynamisme templatecard
  frontend/src/components/AddQuantity.jsx
  frontend/src/components/TemplateCard.css
  frontend/src/components/TemplateCard.jsx
  frontend/src/pages/AllProduct.jsx
  frontend/src/pages/OneProduct.jsx
Labels: Reviewer One OK, Review Done

#12 Footer
  frontend/src/assets/footerImgMap.jpg
  frontend/src/components/Footer.jsx
  frontend/src/components/MyForm.jsx
  frontend/src/components/footer.css
Labels: Reviewer One OK, Review Done

#10 correctif pour pull request: ajout component et conversion CSS vers B…
  frontend/src/components/CardOffer.jsx
  frontend/src/components/CardOfferCard.jsx
  frontend/src/components/LogoWhyUS.jsx
  frontend/src/components/LogoWhyUsCard.jsx
  frontend/src/components/SocialMedia.jsx
  frontend/src/components/SocialMediaCard.jsx
  frontend/src/pages/Home.css
  frontend/src/pages/Home.jsx
Labels: Review Done

#14 correctif CSS header pour espace blanc en trop
  frontend/src/pages/Home.css
Labels: Reviewer One OK, Review Done

#13 correctif CSS footer
  frontend/src/components/Footer.jsx
  frontend/src/components/footer.css
Labels: Reviewer One OK, Review Done

#19 ajout route avec param id
  backend/src/router.js
Labels: Reviewer One OK, Review Done

#17 Add favorite button
  frontend/src/components/AddFavorite.jsx
  frontend/src/components/addFavorite.css
Labels: Reviewer One OK, Review Done

#18 AddToCartButton
  frontend/src/components/AddToCartButton.jsx
Labels: Reviewer One OK, Review Done

#16 Progress bar
  frontend/src/components/ProgressBar.css
  frontend/src/components/ProgressBar.jsx
  frontend/src/components/TemplateProgressBar.jsx
Labels: Reviewer One OK, Review Done

#15 Add quantity button
  frontend/src/components/AddQuantity.jsx
  frontend/src/components/TemplateCard.jsx
  frontend/src/components/addQuantity.css
  frontend/src/pages/OneProduct.jsx
  frontend/src/pages/oneProduct.css
Labels: Reviewer One OK, Review Done

#22 Fix width template card
  frontend/src/components/TemplateCard.css
  frontend/src/pages/AllProduct.jsx
  frontend/src/pages/OneProduct.jsx
  frontend/src/pages/allProducts.css
Labels: Reviewer One OK, Review Done

#20 Navigation
  frontend/src/App.jsx
  frontend/src/components/Footer.jsx
  frontend/src/components/Navbar.jsx
  frontend/src/pages/AllProduct.jsx
  frontend/src/pages/Home.jsx
  frontend/src/pages/OneProduct.jsx
Labels: Reviewer One OK, Review Done

#23 assemblage de la page OneProduct + fix du style
  frontend/src/components/AddQuantity.jsx
  frontend/src/components/AddToCartButton.jsx
  frontend/src/components/ProgressBar.css
  frontend/src/pages/OneProduct.jsx
  frontend/src/pages/oneProduct.css
Labels: Reviewer One OK, Review Done

#27 ajout filtre version mobile
  frontend/index.html
  frontend/src/components/TemplateSearch.css
  frontend/src/components/TemplateSearch.jsx
  frontend/src/pages/AllProduct.jsx
Labels: Reviewer One OK

#26 Carrousel
  frontend/src/components/CardOffer.jsx
  frontend/src/components/CardOfferCard.jsx
  frontend/src/components/TemplateCard.css
  frontend/src/pages/Home.css
  frontend/src/pages/Home.jsx
Labels: Reviewer One OK, Review Done

#30 One product desktop
  frontend/src/components/TemplateProgressBar.jsx
  frontend/src/pages/OneProduct.jsx
  frontend/src/pages/allProducts.css
  frontend/src/pages/oneProduct.css
Labels: Reviewer One OK, Review Done

#28 Footer button
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/ContactForm.jsx
  frontend/src/components/Footer.jsx
  frontend/src/components/MyForm.jsx
  package-lock.json
  package.json
Labels: Reviewer One OK, Review Done

#31 All filter data
  frontend/src/components/TemplateFilter.css
  frontend/src/components/TemplateFilter.jsx
  frontend/src/pages/AllProduct.jsx
Labels: Reviewer One OK, Review Done

#32 ajout des routes back AllProduct + OneProduct
  backend/src/db.js
  backend/src/router.js
Labels: Reviewer One OK, Review Done

#33 Nav router
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.jsx
  frontend/src/components/Footer.jsx
  frontend/src/components/Navbar.jsx
  frontend/src/components/SearchBar.jsx
  frontend/src/pages/AllProduct.jsx
  frontend/src/pages/OneProduct.jsx
Labels: Reviewer One OK, Review Done

#37 correction media screen 768px + lien bouton catch them
  frontend/src/pages/Home.css
  frontend/src/pages/Home.jsx
Labels: Reviewer One OK, Review Done

#34 correctif carrousel : ajout nouveau carrousel version mobile
  frontend/src/components/CardOfferCardMobile.jsx
  frontend/src/pages/Home.jsx
  package-lock.json
  package.json
Labels: Reviewer One OK, Review Done

#41 ajout des composants sous les cartes pokemon dans all product
  frontend/src/pages/AllProduct.jsx
Labels: Reviewer One OK, Review Done

#40 fix de la taille de la font sur les cartes en responsive
  frontend/src/pages/Home.css
Labels: Reviewer One OK, Review Done

#44 Filter desktop
  frontend/package-lock.json
  frontend/src/components/TemplateFilter.css
  frontend/src/components/TemplateFilter.jsx
  frontend/src/pages/AllProduct.jsx
Labels: Reviewer One OK, Review Done

#42 Card bg color
  frontend/src/components/TemplateCard.css
  frontend/src/components/TemplateCard.jsx
Labels: Reviewer One OK, Review Done

#46 Routebackmaj
  backend/src/data/pokemons.js
  backend/src/router.js
  frontend/src/components/CardOfferCard.jsx
  frontend/src/components/Navbar.jsx
  frontend/src/components/ProgressBar.jsx
  frontend/src/components/SearchBar.jsx
  frontend/src/components/TemplateCard.jsx
  frontend/src/pages/AllProduct.jsx
  frontend/src/pages/OneProduct.jsx
Labels: Reviewer One OK, Review Done

#47 installation de emailjs
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/ContactForm.jsx
  package-lock.json
  package.json
Labels: Reviewer One OK, Review Done

#48 Seo
  frontend/index.html
  frontend/package.json
  frontend/src/components/Navbar.jsx
  frontend/src/components/TemplateCard.jsx
  frontend/src/favicon.png
  frontend/src/pages/AllProduct.jsx
  frontend/src/pages/Home.jsx
  frontend/src/pages/OneProduct.jsx
Labels: Reviewer One OK

#49 Basket bis
  backend/package-lock.json
  backend/package.json
  backend/src/router.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.jsx
  frontend/src/components/AddQuantity.jsx
  frontend/src/components/Navbar.jsx
  frontend/src/pages/Basket.jsx
  package-lock.json
Labels: Reviewer One OK, Review Done

#51 Fix mobile carrousel
  frontend/package-lock.json
  frontend/src/components/CardOfferCardMobile.jsx
  frontend/src/pages/Home.jsx
Labels: Reviewer One OK, Review Done

#52 Hot fix all product
  frontend/src/components/Navbar.jsx
  frontend/src/pages/AllProduct.jsx
  frontend/src/pages/allProducts.css
Labels: Reviewer One OK, Review Done

#53 fix du filtre qui était en d-none en v mobile
  frontend/src/components/TemplateFilter.jsx
Labels: Reviewer One OK, Review Done

#55 Background pages
  frontend/src/components/TemplateCard.css
  frontend/src/pages/Home.css
  frontend/src/pages/Home.jsx
Labels: Reviewer One OK, Review Done

#54 Fix warning
  frontend/src/components/CardOffer.jsx
  frontend/src/components/LogoWhyUS.jsx
  frontend/src/components/Navbar.jsx
  frontend/src/components/SearchBar.jsx
  frontend/src/components/SocialMedia.jsx
  frontend/src/components/TemplateFilter.jsx
  frontend/src/components/TemplateProgressBar.jsx
  frontend/src/pages/AllProduct.jsx
  frontend/src/pages/Home.jsx
Labels: Reviewer One OK, Review Done

#56 Basket data
  frontend/src/App.jsx
  frontend/src/assets/iconsBasket/supprimer.png
  frontend/src/assets/sad-pikachu.png
  frontend/src/components/AddQuantity.jsx
  frontend/src/components/AddToCartButton.jsx
  frontend/src/components/CardOffer.jsx
  frontend/src/components/CardOfferCard.jsx
  frontend/src/components/CardOfferCardMobile.jsx
  frontend/src/pages/AllProduct.jsx
  frontend/src/pages/Basket.jsx
  frontend/src/pages/Home.css
  frontend/src/pages/Home.jsx
  frontend/src/pages/OneProduct.jsx
  frontend/src/pages/basket.css
Labels: Reviewer One OK, Review Done
